@import 'core/mixins';

// FOR BRIGHTCOVE VIDEO
@media screen {
  .video-js {
    &.bc-player-default_default {
      width: 100%;
      height: 100%;
      padding-bottom: 56.25%;
      .vjs-big-play-button {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
      }
    }
  }
}
@media screen and (min-width: $screen-tabletw-min) {
  .column-plus {
    width: 150%;
    left: -25%;
    position: relative;
  }
}
// END FOR BRIGHTCOVE VIDEO