// tweetlines
.tweetline {
  padding: 2px 0;
  border-radius: 3px;
  cursor: pointer; }
.tweetline:hover {
  background-color: #ffeebc; }

.touchevents {
  .tweetline {
    border-bottom: dashed 1px rgba(92, 0, 0, 0.75);
    border-radius: 0;
    padding: 1px 0;
  }
}
.componentDivInline {
    display: inline-block;
    vertical-align: middle;
    margin-left: .25em;
    margin-right: -.35em;
}
// end tweetlines