.divide {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.full {
  left: calc(-.30 * (100vw - 660px));
  width: 80vw;
  position: relative;
}
